/* styles.css */

/* Обнуляем отступы и поля по умолчанию */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  /* Устанавливаем шрифт для всего документа */
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(97, 97, 97)34);
  }
  
  .header{
    text-align: center;
     
     justify-content:  safe left;
     width: 100%;
     height: 13vh;	
     position: absolute;
     z-index: 1;
     background: rgb(138, 138, 138);
   
     transition: transform 0.1s ease;
   }
   .header.hide {
       background: white;
   }
   main{
     padding-top: 5vw;
     display: flex;
     flex-direction: column;
     
     height: auto;
     text-align: center;
     max-width: 70vw;
     margin-left: auto;
     margin-right: auto;
   }
   .otstup{
     display: flex;  
       justify-content: center;
   }
   .wrap{
     display: flex;
     flex-wrap: wrap;
   }
   .product-item.product-item_1 {
       cursor: pointer;
       border: 1px solid #C4C4C4;
       padding: 20px;
       position: relative;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       width: 50%;
   }
   
   #dover{
     margin-left: 5vw;
     margin-right: 5vw;
     margin-bottom: 5vw;
     margin-top: -0.5vw;
     
   
   }
   
   .logo-headar {
     height: auto;
     align-items: center;
     justify-content: center;
     width: auto;
   }
   
   #logo-headar {
     width: vw;
     height: 14vh;
     margin-top: -0.8vh;
     margin-left: -2vw;
     margin-right: -2vw;
   }
   
   
   .menu{
    padding: 4vh;	
   margin-left: 50px; 
   display: flex;
    height: auto;
   align-items: center;
       justify-content: center; 
   width: auto;
   }
   
   
   .hidden-menu {
     display: block;
     position: fixed;
     list-style:none;
     padding: 10px;
     margin: 0;
     box-sizing: border-box;
     width: 200px;
     background-color:grey;
     height: 100%;
     top: 0;
     left: -200px;
     transition: left .2s;
     z-index: 2;
     -webkit-transform: translateZ(0);
     -webkit-backface-visibility: hidden;
   }
   
   .hidden-menu-ticker {
     display: none;
   }
   
   .btn-menu {
     color: #fff;
     background-color: #666;
     padding: 5px;
     position: fixed;
     top: 5px;
     left: 5px;
     cursor: pointer;
     transition: left .23s;
     z-index: 3;
     width: 15px;
     height: 15px;
     -webkit-transform: translateZ(0);
     -webkit-backface-visibility: hidden;
   }
   .btn-menu span {
     display: block;
     height: 3px;
     background-color: #fff;
     margin: 1px 0 0;
     transition: all .1s linear .23s;
     position: relative;
   }
   .btn-menu span.first {
     margin-top: 0;
   }
   
   .hidden-menu-ticker:checked ~ .btn-menu {
     left: 160px;
   }
   .hidden-menu-ticker:checked ~ .hidden-menu {
     left: 0;
   }
   .hidden-menu-ticker:checked ~ .btn-menu span.first {
     -webkit-transform: rotate(45deg);
     top: 10px;
   }
   .hidden-menu-ticker:checked ~ .btn-menu span.second {
     opacity: 0;
   }
   .hidden-menu-ticker:checked ~ .btn-menu span.third {
     -webkit-transform: rotate(-45deg);
     top: -10px;
   }
   
   @media screen and (max-width: 950px){
     .header{
       display: none;
     }
   }
  
   @keyframes anim-menu
   {
       0% {
           background-size:    0 3px, 3px 0, 0 3px,3px 0;
       }
       25% {
           background-size:    100% 3px, 3px 0, 0 3px, 3px 0;
       }
       50% {
           background-size:    100% 3px, 3px 100%, 0 3px, 3px 0;
       }
       75% {
           background-size:    100% 3px, 3px 100%, 100% 3px, 3px 0;
       }
     
   }
   @media screen and (max-width: 950px){
    .logo-headar{
      display: none;
    }
    }
    
    @media screen and (max-width: 950px){
    .ybr{
      display: none;
    }
    }
    .ybr{
      text-decoration: none;
      color: black;
    }
    
    @media screen and (max-width: 950px){
    .logo-footer{
      display: none;
    }
    }
    
    @media screen and (max-width: 950px){
    .ysl1{
      display: none;
    }
    }
    
    @media screen and (min-width: 1200px){
      .menutelefona{
        display: none;
      }
    }
    .underline-one {
      color: black; /* Цвет обычной ссылки */
        position: relative;
        cursor: pointer;
        text-decoration: none; /* Убираем подчеркивание */
    }
    .weg{
      font-weight: bold;
    }
    .underline-one:after {
      content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: -3px;
        width: 0;
        height: 2px; /* Высота линии */
        background-color: black; /* Цвет подчеркивания при исчезании линии*/
        transition: width 0.5s; /* Время эффекта */
    }
    
    .underline-one:hover:after {
      content: "";
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 2px; /* Высота линии */
        background-color: #000000; /* Цвет подчеркивания при появлении линии*/
        transition: width 0.5s;  /* Время эффекта */
    }
   
   .ssilka-header{
     text-decoration: none;
     color: black;
     color: gray;
   
   }
   
   .ssilka-header:hover
   {
     color: black;
   }
  
  /* Стилизуем основной контент */
  .main {
    padding: 20px;
  }
  
  .hero__title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .hero__description {
    font-size: 16px;
    color: #777;
  }
  
  .about__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about__description {
    font-size: 16px;
    color: #777;
  }
  
  .news__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .news__item {
    margin-bottom: 20px;
  }
  
  .news__item-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .news__item-description {
    font-size: 16px;
    color: #777;
  }
  
  
.footer {
  position: relative;
  width: 100%;
  background: rgb(83, 83, 83);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../img/wave.svg");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 15px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 20px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 25px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

.about__title{
    font-family: 'TTRounds', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 3vh;
    line-height: 29px;
    color: #44ac34; 
    display: flex;
    justify-content: center;
}

.about__text{
    margin-bottom: 50px;
    color: #333333;
    justify-content: center;
    margin-left: 3vw;
}

  .booking-details {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .booking-details span {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .booking-details .id {
    color: #007bff;
  }
  
  .booking-details .name {
    color: #28a745;
  }
  
  .booking-details .date {
    color: #dc3545;
  }
  
  .booking-details .event {
    color: #ffc107;
  }
  
  .booking-details br {
    line-height: 0;
  }

  @media screen and (max-width: 950px){
    .logo-headar{
      display: none;
    }
    }
    
    @media screen and (max-width: 950px){
    .ybr{
      display: none;
    }
    }
    .ybr{
      text-decoration: none;
      color: black;
    }
    
    @media screen and (max-width: 950px){
    .logo-footer{
      display: none;
    }
    }
    
    @media screen and (max-width: 950px){
    .ysl1{
      display: none;
    }
    }
    
    @media screen and (min-width: 1200px){
      .menutelefona{
        display: none;
      }
    }

    .parallax {
      background-image: url("https://almamater13.ru/800/600/https/energo-partner.ru/wp-content/uploads/2021/01/%D0%AD%D0%BD%D0%B5%D1%80%D0%B3%D0%B5%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9-%D0%BF%D0%B0%D1%81%D0%BF%D0%BE%D1%80%D1%82-%D1%88%D0%BA%D0%BE%D0%BB%D1%8B.jpeg");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
    }
    .parallax1 {
      background-image: url("");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
    }
    
    .parallax-content {
      padding: 20px;
      text-align: center;
      color: #ffffff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(152, 158, 152, 0.5);
    }
    
    h1, p {
      margin: 0;
      padding: 10px;
    }

    .error{
      display: flex;
    justify-content: center;
    align-items: center;
    color: #dc3545;
    font-family: Arial, sans-serif;
    padding-top: 0%;
    }

    .parallax-content1 {
      padding: 20px;
      text-align: center;
      color: #ffffff;
      position: absolute;
      top: 115%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.5);
    }

    @media screen and (max-width: 768px) {
      .navbar {
        flex-direction: column;
        align-items: center;
      }
    
      .menu li {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    @media screen and (max-width: 480px) {
      .header {
        padding: 10px 20px;
      }
    
      .logo {
        font-size: 24px;
      }
    
      .menu li a {
        padding: 8px 12px;
      }
    }

    @media screen and (max-width: 768px) {
      .header {
        justify-content: space-between;
      }
    
      .news,
      .contacts {
        display: none;
      }
    }

    @media screen and (max-width: 480px) {
      .parallax {
      display: none;
      }
      .parallax-content1 {
        display: none;
        }
      }

      @media screen and (max-width: 370px) {
        .menu li a {
          padding: 8px 12px;
          }
      }